name: Sequoia Auto Picker

on:
  push:
    branches: [ "master" ]
  schedule:
    - cron: '40 7 * * 1-5' # 北京时间 15:40 运行
  workflow_dispatch: 

jobs:
  run-strategy:
    runs-on: ubuntu-latest
    steps:
      - name: 检出代码
        uses: actions/checkout@v4

      - name: 配置 Python 环境
        uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: stock
          python-version: "3.11"
          channels: conda-forge

      - name: 安装核心库
        shell: bash -l {0}
        run: |
          conda install -c conda-forge ta-lib numpy pandas matplotlib scipy -y

      - name: 安装其余依赖
        shell: bash -l {0}
        run: |
          pip install --upgrade pip
          pip install akshare tushare --upgrade
          pip install -r requirements.txt

      - name: ⚡️初始化并全量运行
        shell: bash -l {0}
        env:
          TS_TOKEN: ${{ secrets.TUSHARE_TOKEN }}
          PP_TOKEN: ${{ secrets.PUSHPLUS_TOKEN }}
        run: |
          # 现场生成配置，解决 FileNotFoundError
          cat <<EOF > config.yaml
          cron: false
          data_dir: "data"
          end_date: ""
          codes: []
          push:
            enable: true
            pushplus_token: "$PP_TOKEN"
          EOF
          
          mkdir -p data
          # 启动导弹
          python main.py

      - name: 上传结果
        uses: actions/upload-artifact@v4
        with:
          name: stock-report
          path: data/stock.db
