name: Sequoia Auto Picker

on:
  push:
    branches: [ "master" ]
  schedule:
    - cron: '40 7 * * 1-5' # 每天北京时间 15:40 运行
  workflow_dispatch: 

jobs:
  run-strategy:
    runs-on: ubuntu-latest
    steps:
      - name: 检出代码
        uses: actions/checkout@v4

      - name: 配置 Python 环境
        uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: stock
          python-version: "3.11"
          channels: conda-forge

      - name: 安装核心科学计算库
        shell: bash -l {0}
        run: |
          conda install -c conda-forge ta-lib numpy pandas matplotlib scipy -y

      - name: 安装其余依赖
        shell: bash -l {0}
        run: |
          pip install --upgrade pip
          pip install akshare tushare --upgrade
          pip install -r requirements.txt

      - name: ⚡️注入 Token 并运行 (双保险模式)
        shell: bash -l {0}
        env:
          TS_TOKEN: ${{ secrets.TUSHARE_TOKEN }}
          PP_TOKEN: ${{ secrets.PUSHPLUS_TOKEN }}
        run: |
          # 确保 data 目录存在
          mkdir -p data
          
          # 直接运行 python，因为我们的 main.py 已经具备了自动生成配置的功能
          python main.py

      - name: 上传结果
        uses: actions/upload-artifact@v4
        with:
          name: stock-report
          path: data/stock.db
